name: 修改微信步数

on:
  workflow_dispatch:
  schedule:
    # 每天晚上20点执行
    - cron: "0 10 * * *"

jobs:
  ChangBuShu:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: 设置Python环境
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      
      - name: 安装依赖
        run: pip3 install requests pytz pycryptodome
      
      - name: 修改步数
        env:
          CONFIG: ${{ secrets.CONFIG }}
          AES_KEY: ${{ secrets.AES_KEY }}
        run: python3 main.py
